.pagination {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: center;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.pagination li {
  margin-right: 0.25rem;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li a {
  transition: all 0.3s ease-in-out;
  color: #6c7680;
  padding: 0.375rem 0.4375rem;
  text-decoration: none;
}

.pagination li a:hover {
  background: #4bc3c9;
  color: #ffffff;
  cursor: pointer;
}

.pagination li a:focus {
  box-shadow: inset 0 0 0 2px #4bc3c9;
}

.pagination li a:active {
  background: #6c7680;
  color: #ffffff;
}

.pagination .active a {
  background: #4bc3c9;
  color: #ffffff;
  pointer-events: none;
}
