table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th.sort-icon {
  padding-right: 18px;
  position: relative;
}
.sort-icon:before,
.sort-icon:after {
  border: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
.sort-icon:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
.sort-icon:after {
  border-top-color: #666;
  margin-top: 1px;
}
.edit-form {
  padding: 30px;
  background: #fff;
}
