.pop-up {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: #00000087;
  margin: auto;
}
.pop-up .close-icon {
  color: #fff;
  font-size: 30px;
  text-align: right;
  padding: 10px 20px;
  cursor: pointer;
}
