.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.not-found {
  margin-top: 30px;
  font-size: 30px;
}

.text-center {
  text-align: center;
}

.error-text {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  color: #f44336;
}

.validation-error {
  text-align: right;
  font-size: 14px;
  color: #f44336;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

form input,
form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
